@import '../../mainSass/variables.module.scss';

$colors: (
  background_color: #ededed,
  title_color: #062a78,
  button_color: #ff8603,
  input_text: #cfcfcf,
  text_button: #fff,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

.body {
  display: grid;
  grid-template-rows: 14rem 16rem 10fr 21rem 10rem 40.7rem 30.5rem 10.3rem;
  grid-template-columns: 36.8rem 43rem;
  column-gap: 1.5rem;
  row-gap: 1.3rem;
  margin: auto 2.8rem;
  //   margin-right: 2.8rem;
  //   margin-left: 2.8;

  .addPart {
    width: 36rem;
    display: flex;
    grid-row: 1/2;
    grid-column: 1/2;

    h3 {
      font-family: $monserat;
      margin-left: 0.8rem;
      align-self: center;
      grid-row: 1/2;
      text-transform: uppercase;
      color: color(title_color);

      font-size: 1.7rem;
    }

    img {
      margin-left: 3.2rem;
      align-self: center;
      fill: color(title_color);
      grid-row: 1/2;
      transform: translateY(-0.1rem);
      height: 2.5rem;
    }
  }

  .addButton {
    display: flex;
    grid-row: 1/2;
    grid-column: 2/3;
    align-items: center;

    Button {
      margin-left: 1.9rem;
      position: relative;
      width: 36rem;
      height: 4rem;
      border-radius: 1rem;
      color: color(text_button);
      background-color: color(button_color);
      text-transform: uppercase;
      font-family: $monserat;
      font-size: 1.7rem;
      font-weight: 700;
      padding-left: 4rem;
    }

    img {
      position: absolute;
      z-index: 10;
      height: 2.4rem;

      transform: translateY(-0.3rem);
      margin-left: 3.1rem;
    }
  }

  .partCode {
    display: grid;
    grid-row: 2/3;
    grid-column: 1/2;
    justify-items: left;
    margin-left: 3rem;

    .PartCodeForm {
      display: grid;
    }

    ::placeholder {
      color: $selectText;
      opacity: 1;
    }
  }

  .partPrice {
    margin-left: 2.1rem;
    grid-row: 2/3;
    grid-column: 2/3;
    color: $partPrice;
    font-family: $monserat;

    Input {
      border: none;
      text-transform: uppercase;
      font-size: $font-size-18px;
      width: 24rem;
    }

    hr {
      width: 23.5rem;
      background-color: #062a78;
      height: 0.1rem;
      margin-left: 0;
    }
  }

  .mainInfo {
    padding-bottom: 5rem;
    display: grid;
    grid-row: 3/4;
    grid-column: 1/2;
    border: 0.2rem solid $borders;
    border-radius: 0.7rem;
    width: 36.8rem;
    padding-bottom: 3.5em;
    color: $black;

    // grid-column: ;
  }

  .category {
    display: grid;
    grid-row: 4/6;
    grid-column: 1/2;
    border: 0.2rem solid $borders;
    border-radius: 0.7rem;
    width: 36.8rem;
    padding-bottom: 3.5em;
  }

  .moreInfo {
    display: grid;
    grid-row: 6/8;
    grid-column: 1/2;
    border: 0.2rem solid $borders;
    border-radius: 0.7rem;
    width: 36.8rem;
    padding-bottom: 2.7rem;

    Input {
      padding-left: 2rem;
      border: 0.2rem solid $borders;
      border-radius: 0.7rem;
      width: 26.6rem;
      height: 3.5rem;
      font-size: 1.3rem;
      color: #000000;
      margin-left: 1.9rem;
      margin-bottom: 1rem;
    }

    ::placeholder {
      font-family: $monserat;
      color: $selectText;
      opacity: 1;
    }
  }

  .imgs {
    grid-row: 3/5;
    grid-column: 2/3;
    grid-template-rows: repeat(3, fr);
    grid-template-columns: repeat(4, fr);
    border: 0.2rem solid $borders;
    border-radius: 0.7rem;
    padding-bottom: 3.5em;
  }

  .partComment {
    border: 0.2rem solid $borders;
    border-radius: 0.7rem;
    grid-row: 5/7;
    grid-column: 2/3;
    width: 42.5rem;

    textarea {
      font-family: $monserat;
      border: 0.2rem solid $borders;
      border-radius: 0.7rem;
      width: 39rem;
      height: 39rem;
      resize: none;
      margin: 0 1.45rem;
      font-size: 1.3rem;
      padding-top: 1rem;
    }
  }

  .partInfo {
    display: grid;
    grid-row: 7/8;
    grid-column: 2/3;
    border: 0.2rem solid $borders;
    border-radius: 0.7rem;
    width: 42.5rem;
    padding-bottom: 6rem;

    Input {
      font-family: $monserat;
      font-weight: 600;
      padding-left: 2rem;
      border: 0.2rem solid $borders;
      border-radius: 0.7rem;
      width: 26.6rem;
      height: 3.5rem;
      font-size: 1.3rem;
      color: #000000;
      margin-left: 1.9rem;
      margin-bottom: 1rem;
    }

    ::placeholder {
      color: $selectText;
      opacity: 1;
    }
  }

  .saveButton {
    display: grid;
    grid-row: 8/9;
    grid-column: 2/3;
    justify-items: flex-end;
    margin-top: 2rem;

    Button {
      font-family: $monserat;
      font-weight: 600;
      border-radius: 0.7rem;
      background-color: $blue;
      color: $white;
      text-transform: uppercase;
      font-size: $font-size-13px;
      width: 11rem;
      height: 3.5rem;
    }
  }

  h4 {
    font-size: $font-size-13px;
    font-weight: bold;
    font-family: $monserat;
    color: $blue;
    text-transform: uppercase;
    text-align: left;
    // margin-left: 1.7rem;
    margin: 3rem 0 3.9rem 2.3rem;
  }
}
