@import '../../../mainSass/variables.module.scss';

.category {
  display: grid;
  grid-row: 4/6;
  grid-column: 1/2;
  border: 0.2rem solid $borders;
  border-radius: 0.7rem;
  width: 36.8rem;
  padding-bottom: 3.5em;
}
